.container {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 36px;
}

li {
  list-style-type: none;
  padding: 10px;
  font-weight: bolder;
  display: flex;
}

.forecast-card {
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
  background-color: #fffffffa;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.forecast-card h2 {
  margin-bottom: 10px;
  font-size: 24px;
}

.forecast-card p {
  margin-bottom: 10px;
  font-size: 16px;
}

.forecast-card img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  vertical-align: middle;
}

.forecast-div {
  border: 2px solid black;
  background-color: rgba(0, 0, 255, 0.8);
  color: white;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}

.card-body {
  padding: 15px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  margin-bottom: 10px;
  font-size: 16px;
}

.card-text:first-child {
  margin-top: 0;
}

.card-text:last-child {
  margin-bottom: 0;
}

#citiesContainer {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
  padding: 20px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#citiesContainer h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

#user-form {
  text-align: center;
  margin-bottom: 20px;
}

#search {
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
}

#user-form button {
  padding: 10px 20px;
  border-radius: 6px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

#user-form button:hover {
  background-color: #0056b3;
}

#search-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  padding: 0;
}

#search-history li {
  margin-bottom: 10px;
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#search-history li:hover {
  background-color: #e0e0e0;
}
